@model IEnumerable<HyperLink>
@{
    Layout = "_Layout";
}
<table class="table">
    <thead>
        <tr>
            <th>Изначальная ссылка</th>
            <th>Короткая ссылка</th>
            <th>Дата создания</th>
            <th>Колчество просмотров</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var l in Model)
        {
        <tr>
            <td><a href="@l.Link" target="_blank">@l.Link</a></td>
            <td><a href="@l.ShortLink" target="_blank">@l.ShortLink</a></td>
            <td>@l.Created</td>
            <td>@l.Clicks</td>
        </tr>
        }
    </tbody>
</table>